{% extends 'index.html' %} {% block content %} {% autoescape off %}

<div class="row">
	<div class="col offset-1">
		<div class="logoString_h3 text-center mt-3">
			<h3>Employees data</h3>
			<p class="mt-3 text-muted">Browse, add, update or delete employees data information.</p>
		</div>
		<form action="" method="post" enctype="multipart/form-data" class="d-flex justify-content-center align-items-start mb-3">
			{% csrf_token %}
			<div class="">
				<input type="text" class="form-control" id="searchEmployee" name="searchEmployee" placeholder="&#128269;" style="text-align: right" aria-describedby="searchEmployee" />
				<div id="searchEmployee" class="form-text">Employees' search...</div>
			</div>
			<button type="submit" class="btn btn-outline-secondary ms-3">Search</button>
		</form>
		{% if result %}
		<table class="table text-center table-striped table-hover table-responsive caption-top" id="dataTable">
			<caption class="text-small">
				<i>Employees</i>
			</caption>
			<thead style="cursor: pointer">
				<tr>
					<th scope="col">#</th>
					<th scope="col"> &#9650; &#9660;</th>
					<th scope="col"> &#9650; &#9660;</th>
					<th scope="col"> &#9650; &#9660;</th>
					<th scope="col">Edit</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% for i in result %}
				<tr>
					<td scope="row">{{ forloop.counter }}</td>
					<td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="" class="nav-link me-3">&#9999;</a></td>
					<td><a href="" class="nav-link me-3">&#10060;</a></td>
					
				</tr>
				{% endfor %}
			</tbody>
		</table>
        {% elif notResultSearch %}
        <div class="d-flex flex-column justify-content-center align-items-center no-content">
            <p class="text-center">&#128532;<br /><b></b></p>
            <a href="" class="nav-link ms-3">Back</a>
        </div>
		{% else %}
		<div class="d-flex flex-column justify-content-center align-items-center no-content">
            <p class="text-center">&#128532;<br /><b>Sorry, but No content yet right here...</b></p>
            <a href="" class="nav-link ms-3">Back</a>
        </div>
		{% endif %}
	</div>
</div>

{% endautoescape %} {% endblock %}
